table h1{
    align-content: STUDENTS MARKS;
    color: rgb(36, 197, 36) ;

}
table,th,td{
    border: 1px solid rgb(19, 19, 203); border-collapse:collapse;
    border-color: green;
    border-style:double;
    tr:nth-child(even) {background-color: rgb(69, 203, 203);}
    td:nth-child(even),th:nth_child(even) {background-color:rgb(150, 206, 65)}

}